<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.goujia.website.base.dao.system.SystemPropertyMapper" >
  <resultMap id="BaseResultMap" type="com.goujia.website.base.entity.system.SystemProperty" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="key" property="key" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select *
    from g_system_property
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="add" parameterType="com.goujia.website.base.entity.system.SystemProperty" >
    insert into g_system_property (id, key, value,remark,create_time,modify_time)
    values (#{id,jdbcType=INTEGER}, #{key,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, now(), now())
  </insert>
  <update id="update" parameterType="com.goujia.website.base.entity.system.SystemProperty" >
    update g_system_property
    <set >
      <if test="value != null" >
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
        modify_time = now()
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
    
  <select id="pageList" resultMap="BaseResultMap" parameterType="com.goujia.website.base.vo.BaseSearchParam">
    select * from g_system_property 
  </select>
  <select id="pageListCount" resultType="java.lang.Integer">
    select count(*) from g_system_property 
  </select>
  <select id="getByKey" resultMap="BaseResultMap" parameterType="java.lang.String">
    select * from g_system_property
    where g_system_property.key = #{key}
  </select>
  
</mapper>