								
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->
			</div><!-- /.main-container-inner -->



			<!-- 返回top start -->
			<a href="javascript:;" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
			<!-- 返回top end -->
		</div><!-- /.main-container -->
		<!--主内容 end-->
	
		<!-- ace scripts -->
		<script src="$!request.contextPath/assets/js/ace-elements.min.js"></script>
		<script src="$!request.contextPath/assets/js/ace.min.js"></script>

		<!-- page specific plugin scripts -->
		<script src="$!request.contextPath/assets/js/jquery-ui-1.10.3.full.min.js"></script>
		<script src="$!request.contextPath/assets/js/jquery.ui.touch-punch.min.js"></script>
		<link rel="stylesheet" href="$!request.contextPath/assets/css/jquery-ui-1.10.3.custom.min.css" />
		
		<script src="$!request.contextPath/assets/js/bootstrap.min.js"></script>
		<script src="$!request.contextPath/assets/js/typeahead-bs2.min.js"></script>
		
		<!-- inline scripts related to this page -->
		<script src="$!request.contextPath/assets/js/main-min.js"></script>
		
		<script src="$!request.contextPath/assets/js/form/jquery.form.js" type="text/javascript"></script>
		<script src="$!request.contextPath/assets/js/form/jquery.validate.js" type="text/javascript"></script>
		<script src="$!request.contextPath/assets/js/form/message.js" type="text/javascript"></script>
		<script src="$!request.contextPath/assets/js/form/jquery.validate.method.js" type="text/javascript"></script>
		
		<script src="$!request.contextPath/assets/js/alertify.js"></script>
		<script src="$!request.contextPath/assets/js/jquery.gritter.min.js"></script>

		<!-- 时间控件 -->
		<link href="$!request.contextPath/assets/js/My97DatePicker/skin/WdatePicker.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="$!request.contextPath/assets/js/My97DatePicker/WdatePicker.js"></script>
		
		<!-- 可编辑 -->
		<link rel="stylesheet" href="$!request.contextPath/assets/css/bootstrap-editable.css" />
		<script src="$!request.contextPath/assets/js/jquery.gritter.min.js"></script>
		<script src="$!request.contextPath/assets/js/bootbox.min.js"></script>
		<script src="$!request.contextPath/assets/js/jquery.slimscroll.min.js"></script>
		<script src="$!request.contextPath/assets/js/bootstrap-wysiwyg.min.js"></script>
		<script src="$!request.contextPath/assets/js/select2.min.js"></script>
		<script src="$!request.contextPath/assets/js/fuelux/fuelux.spinner.min.js"></script>
		<script src="$!request.contextPath/assets/js/x-editable/bootstrap-editable.min.js"></script>
		<script src="$!request.contextPath/assets/js/x-editable/ace-editable.min.js"></script>
		<script src="$!request.contextPath/assets/js/jquery.maskedinput.min.js"></script>
		

	</body>
</html>