<style type="text/css">
.left-title {
    font-size: 13px;
}

#detail_container .row {
    margin-top: 3px;
    margin-bottom: 3px;
}

#detail_container .form-control {
    margin-left: 2px;
    margin-right: 2px;
}

#detail_container .padding3 {
    padding-left: 3px;
    padding-right: 3px;
}

#detail_container .postings_sort {
    padding: 20px;
}
</style>
<div class="modal" id="detail_dialog" tabindex="-1" role="dialog" aria-labelledby="detail_dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:60%">
        <div class="modal-content" style="padding:5px;width:100%">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    添加文章
                </h4>
            </div>
            <div class="modal-body">
                <div class="container" id="detail_container">
                    <div class="row">
                        <div class="col-md-5">
                            <span class="profile-picture">
                                <img src="$!request.contextPath/assets/images/no_img.jpg" alt="Avatar" class="editable img-responsive editable-click editable-empty" id="infoImage_preview" style="height:200px;"/>
                                #Uploader_pic({
                                    "width":150,
                                    "height":140,
                                    "rates":"m,s",
                                    "maxSize":40000000,
                                    "fieldName": "infoImage",
                                    "fileFieldName": "infoImageFile",
                                    "src": "",
                                    "required":"false"
                                })
                            </span>
                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-3 padding3">
                                    <span class="left-title">文章名称</span>
                                </div>
                                <div class="col-md-9 padding3">
                                    <input type="text" id="name" class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 padding3">
                                    <span class="left-title">分类标签</span>
                                </div>
                                <div class="col-md-7 padding3">
                                    <input type="text" id="category_label_input" class="form-control" onfocus="this.blur()"/>
                                </div>
                                <div class="col-md-2 padding3">
                                    <button type="button" id="category_label_but" class="btn btn-primary btn-sm">选择</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 padding3">
                                    <span class="left-title">装修百科</span>
                                </div>
                                <div class="col-md-7 padding3">
                                    <input type="text" id="technology_label_input" class="form-control" onfocus="this.blur()"/>
                                </div>
                                <div class="col-md-2 padding3">
                                    <button type="button" id="technology_label_but" class="btn btn-primary btn-sm">选择</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 padding3">
                                    <span class="left-title">建材百科</span>
                                </div>
                                <div class="col-md-7 padding3">
                                    <input type="text" id="material_label_input" class="form-control" onfocus="this.blur()"/>
                                </div>
                                <div class="col-md-2 padding3">
                                    <button type="button" id="material_label_but" class="btn btn-primary btn-sm">选择</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 padding3">
                                    <span class="left-title">设计百科</span>
                                </div>
                                <div class="col-md-7 padding3">
                                    <input type="text" id="style_label_input" class="form-control" onfocus="this.blur()"/>
                                </div>
                                <div class="col-md-2 padding3">
                                    <button type="button" id="style_label_but" class="btn btn-primary btn-sm">选择</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <script type="text/plain" id="myEditor" style="width:100%;height:200px;">
                            <p>输入内容</p>
                            </script>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" style="font-size:16px">
                            参与话题
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="topic_input" class="form-control" onfocus="this.blur()"/>
                        </div>
                        <div class="col-md-1">
                            <button type="button" id="topic_but" class="btn btn-primary btn-sm">选择</button>
                        </div>
                        <div class="col-md-1">
                            <button type="button" id="topic_clear_but" class="btn btn-primary btn-sm">清空</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"  data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="detail_dialog_but">完成</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="topic_dialog" tabindex="-1" role="dialog" aria-labelledby="topic_dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="padding:5px;">
            <div class="modal-header" style="height:50px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            您可以搜索所有话题，勾选你希望加入讨论的话题并确认
                        </div>
                        <div class="col-md-2">
                            <input type="text" id="topic_search_input" size="10" style="font-size:10px;" />
                        </div>
                        <div class="col-md-2">
                            <button type="button" id="topic_search_but">搜索</button>
                        </div>
                    </div>
                    <div id="topic__body">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                <button type="button" id="topic_check_but" class="btn btn-primary">选择</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var hadTopic = new Array();
    var dialog_map={};
    $(document).ready(function() {
        $("#topic_but").click(function() {
            loadList_topic(1);

        });
        $("#topic_search_but").click(function(){
            loadList_topic(1);
        });

    });
    function loadList_topic(pageNo) {
        var param = {};
        var json = $.toJSON(hadTopic);
        var body = $("#topic__body");
        var timestamp=(new Date()).valueOf();
        param["timestamp"] = timestamp;
        param["json"] = json;
        param["pageSize"] = pageSize;
        param["name"] = $("#topic_search_input").val();
        if (!!pageNo && !isNaN(pageNo)) {
            $("#topic_pageNo").val(pageNo);
            param["pageNo"] = pageNo;
        } else {
            param["pageNo"] = $("#topic_pageNo").val();
        }
        $.post("$request.contextPath/topic/listWithCount.htm", param, function(html, statusText) {
            body.empty();
            body.append(html);
            $("#topic_dialog").modal({backdrop: 'static', keyboard: false});
            $("#topic_dialog").modal("show");

        });
    }


</script>
#LabelPanel( "category_label_but" "category_label_input" "category_label_dialog" "100101") #LabelPanel( "technology_label_but" "technology_label_input" "technology_label_dialog" "100102") #LabelPanel( "material_label_but" "material_label_input" "material_label_dialog" "100103") #LabelPanel( "style_label_but" "style_label_input" "style_label_dialog" "100104")