                        <div class="row">
                            <table class="table table-hover table-striped">
                            #foreach($item in $nullify.result)
                              <tr align="center">
                                    <td><input type="checkbox"  class="checkbox checkbox_nullify" value="${item.id}"/></td>
                                    <td><a href="javascript:void(0);" onclick="detail_d(${item.id})">$!{item.articleName}</a></td>                                    <td>$!{item.userName}</td>
                                    <td>$date.formatYYYYMMDD($!{item.gmtCreate})</td>
                                    <td><a href="javascript:void(0);" onclick="update_u(${item.id})">编辑</a><span class="space"></span><a href="javascript:void(0);" onclick="relate_product(${item.id})">关联产品包</a><span class="space"></span><a href="javascript:void(0);" onclick="return_d(${item.id})">还原</a></td>
                              </tr>
                              #end
                            </table>
                		</div>
                		<div class="row">
                            <ul class="pagination pull-right">
                                #if($!nullify.hasPre)
                                    <li class="first"><a href="#first" onclick="loadList_nullify('1');">首页</a></li>
                                    <li class="prev"><a href="#prePage" onclick="loadList_nullify('$nullify.prePage');"><i class="icon-double-angle-left"></i></a></li>
                                #else
                                    <li class="first disabled"><a>首页</a></li>
                                    <li class="prev disabled"><a><i class="icon-double-angle-left"></i></a></li>
                                #end
                                #foreach($pNo in $nullify.closestPage)
                                    <li #if($nullify.pageNo == $pNo)class="active"#end><a href="#$!pNo" onclick="loadList_nullify('$!pNo');">$!pNo</a></li>
                                #end
                                #if($!nullify.hasNext)
                                    <li class="next"><a href="#nextPage" onclick="loadList_nullify('$nullify.nextPage');"><i class="icon-double-angle-right"></i></a></li>
                                    <li class="last"><a href="#totalPages" onclick="loadList_nullify('$nullify.totalPages');">尾页</a></li>
                                #else
                                    <li class="next disabled"><a><i class="icon-double-angle-right"></i></a></li>
                                    <li class="last disabled"><a>尾页</a></li>
                                #end
                                    <li style="white-space:nowrap;display:inline-block">
                                    &nbsp;共$!nullify.totalPages页， 去第<input type="text" id="pageNo" name="pageNo" value="$!nullify.pageNo" style="width:40px" class="page-go" onkeypress="if(event.keyCode==13) { $(this).closest('ul').find('button').click(); }"/>页
                                    <button type="button" class="btn btn-xs btn-inverse" onclick="loadList_nullify();">确认</button>
                                    </li>
                            </ul>
                		</div>