<div class="row">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th></th>
                <th>名称</th>
                <th>风格</th>
                <th>户型</th>
                <th>价格</th>
            </tr>
        </thead>
        <tbody id="product_table_body">
            #foreach($item in $list.result)
                <tr>
                    <td>
                        <input type="checkbox" class="goods_checkbox" onclick="changeRelate(this,${item.id})" #if(${item.checked})checked#end/>
                    </td>
                    <td>$!{item.name}</td>
                    <td>$!{item.styleName}</td>
                    <td>$!{item.houseTypeName}</td>
                    <td>$!{item.discountPrice}</td>
                </tr>
            #end
        </tbody>
    </table>
</div>
<div class="row">
    <ul class="pagination pull-right">
        #if($!list.hasPre)
            <li class="first"><a href="#first" onclick="loadList_product('1');">首页</a></li>
            <li class="prev"><a href="#prePage" onclick="loadList_product('$list.prePage');"><i class="icon-double-angle-left"></i></a></li>
        #else
            <li class="first disabled"><a>首页</a></li>
            <li class="prev disabled"><a><i class="icon-double-angle-left"></i></a></li>
        #end
        #foreach($pNo in $list.closestPage)
            <li #if($list.pageNo == $pNo)class="active"#end><a href="#$!pNo" onclick="loadList_product('$!pNo');">$!pNo</a></li>
        #end
        #if($!list.hasNext)
            <li class="next"><a href="#nextPage" onclick="loadList_product('$list.nextPage');"><i class="icon-double-angle-right"></i></a></li>
            <li class="last"><a href="#totalPages" onclick="loadList_product('$list.totalPages');">尾页</a></li>
        #else
            <li class="next disabled"><a><i class="icon-double-angle-right"></i></a></li>
            <li class="last disabled"><a>尾页</a></li>
        #end
            <li style="white-space:nowrap;display:inline-block">
            &nbsp;共$!list.totalPages页， 去第<input type="text" id="product_pageNo" name="pageNo" value="$!list.pageNo" style="width:40px" class="page-go" onkeypress="if(event.keyCode==13) { $(this).closest('ul').find('button').click(); }"/>页
            <button type="button" class="btn btn-xs btn-inverse" onclick="loadList_product();">确认</button>
            </li>
    </ul>
</div>